<!-- Navegación Categorias de Productos -->
<nav class="nav-products">
  <ul class="nav-products__list">
    <li>
      <a href="#">
        <img src="./images/nav-home/tablet-cellphone.svg" alt="" />
        Electrónica
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/hamburger.svg" alt="" />
        Alimentos
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/glass-mug-variant.svg" alt="" />
        Bebidas
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/tshirt-crew.svg" alt="" />
        Indumentaria
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/controller-classic.svg" alt="" />
        Juegos
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/steering.svg" alt="" />
        Automotor
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/sofa-single.svg" alt="" />
        Hogar
      </a>
    </li>
    <span></span>
    <li>
      <a href="#">
        <img src="./images/nav-home/gift-outline.svg" alt="" />
        Otros
      </a>
    </li>
  </ul>
</nav>
