<footer>
  <section class="Footer-completo">
    <p class="texto-footer">© MiEcommerce. Todos los derechos reservados.</p>
    <img
      src="./images/Redes-Sociales.svg"
      alt="Redes Sociales"
      class="img-redessociales"
    />

    <img
      src="./images/descargable.svg"
      alt="sitios de descarga"
      class="img-descargable"
    />
  </section>
</footer>
