    <header class="site-headersearch">
     <div class="headersearch">
        <a href="/" class = "site-headersearch">
            <img src = "./images/MiE.png"
                 alt = "Es el logo de la empresa"
                 class = "img-MiE"
            />
            <img src = "./images/MiEcommerce.png"
                 alt = "Es el carrito con la foto de perfil del usuario"
                 class = "img-MiEcommerce"
            />
        </a>
      
        <input 
        type = "text"
        class = "site-headerseach-search"
        placeholder="     Buscar productos..."
        />

        <a href="/cart" class = "site-headersearch-right">
            <img src = "./images/cart.png"
                 alt = "Es el carrito"
                 class = "img-right"
            />
        </a>
            <img src = "./images/ProfilePicContorno.svg"
                 alt= "Perfil de usuario"
                 class = "img-profilePic"/>
            <img src = "./images/profileBtn.svg"
                 alt= "Perfil de usuario"
                 class = "img-profileBtn"/>
     </div>  
    </header>

