<section class="main-product__product">
    <div class="main-product__product-title">
        <h3>Whiskey Jack Daniels</h3>
        <h3>Honey 750ml</h3>
    </div>

    <div class="main-product__image">
        <img src="https://dummyjson.com/image/i/products/18/1.jpg" alt="Imagen principal" srcset="" class="imagenPrincipal">
        <div class="main-product__miniaturas">
            <img src="https://dummyjson.com/image/i/products/30/2.jpg" alt="Imagen miniatura del producto">
            <img src="https://dummyjson.com/image/i/products/30/3.jpg" alt="Imagen miniatura del producto">
            <img src="https://dummyjson.com/image/i/products/30/thumbnail.jpg" alt="Imagen miniatura del producto">
        </div>
    </div>
    <div class="main-product_info">
        <div class="main-product__product-title-alternative">
            <h3>Whiskey Jack Daniels</h3>
            <h3>Honey 750ml</h3>
        </div>
        <div class="main-product__price">
            <h3>19.900</h3>
            <p>PUNTOS</p>
        </div>
        <div class="main-product__desc">
            <p>
                Un verdaderamente fabuloso licor de whisky Jack Daniels. Está hecho con una mezcla de ricas especias y suave, miel tersa y el resultado es delicioso sobre hielo o café.
                Aroma de caramelo y roble carbonizado, un poco de flor de naranja, miel de manuka y vainilla.

                Boca: grueso y cremoso, con notas de vainilla, roble tostado, miel de nuevo, un poco de albaricoque también.
                Acabado: De buena longitud - redondeado y rico.

                No incluye vasos, la foto es sólo ilustrativa
            </p>
        </div>
        
        <div class="main-product__btn">
            <input type="button" value="Agragar al Carrito">
        </div>
    </div>
</section>