<section class="section-hero">
  <div class="product-hero">
    <div class="gradient"></div>
    <div class="product-hero__img">
      <img src="./images/disneybrand.png" alt="Imagen de fondo de Disney+" />
    </div>
    <div class="product-hero__legend">
      <h3>50% OFF en Combo Plus</h3>
      <p>Canjenado 50.000 puntos MiEcommerce</p>
    </div>
  </div>

  <div class="product-hero">
    <div class="gradient"></div>
    <div class="product-hero__img">
      <img src="./images/rectangle-2.png" alt="Imagen de fondo generico" />
    </div>
    <div class="product-hero__legend">
      <h3>Nombre de la Promo</h3>
      <p>Detalles que pueden ocupar hasta dos lineas</p>
    </div>
  </div>

  <div class="product-hero">
    <div class="gradient"></div>
    <div class="product-hero__img">
      <img src="./images/hbobrand.png" alt="Imagen de fondo HBO" />
    </div>
    <div class="product-hero__legend">
      <h3>50% OFF en HBO Max</h3>
      <p>Canjeando 50.000 puntos MiEcommerce</p>
    </div>
  </div>
</section>
