<article class="main-product__related-product-card">
    <img src="https://dummyjson.com/image/i/products/28/1.jpg" alt="Es la imagen del producto" />
    
    <div class="section-article__desc">
        <div class="desc">
            <p>Coca Cola Lata 220mL Pack Original x8 Unidades</p>
        </div>
        
        <div class="section-article__price">
            <p>770</p>
            <p class="puntos">PUNTOS</p>
        </div>
    </div>
    
  </article>