<article class="main-product__related-product-card">
    <div class="section-article__image">
        <img src="<%= product.images[0]  %> " alt="Es la imagen del producto" />
    </div>
    
    <div class="section-article__desc">
        <div class="desc">
            <p><%= product.title %> </p>
        </div>
        
        <div class="section-article__price">
            <p class="valorNumerico"><%= product.price %> </p>
            <p class="puntos">PUNTOS</p>
        </div>
    </div>
    
  </article>