@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Declaración de variables */
:root{
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --dark-gray: rgba(73, 79, 81, 1);
  --light-gray: rgba(153, 153, 153, 1);  
  --green: rgba(12, 176, 147, 1);
  --red: rgba(236, 0, 0, 1);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Open Sans;
  min-width: 360px;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container {
  flex-grow: 1;
  padding-bottom: 25px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 16px 0px 16px;
}

.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 811px) {
  .layout-container {
    padding-bottom: 48px;
  }
}
