@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
    min-width: 360px;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}
