@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*, 
*::after , 
*::before{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html  {

    font-family: Open Sans;
    min-width: 360px;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-container{
flex-grow: 1;
}