/* Navegación categorias de productos */
.categories {
  width: 100%;
  max-width: 385px;
  background-color: var(--dark-gray);
  margin: 24px 16px 0;
  border-radius: 16px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  gap: 4px;
}

.categories__list span:last-of-type{
  display: none;
}

.categories__list li {
  width: 12.5%;
}

.categories a {
  display: flex;
  align-content: center;
  font-size: 16px;
  color: var(--white);
  gap: 8px;
}

.categories a:hover {
  color: var(--green);
}


@media (min-width: 811px) {
  .categories {
    max-width: 1024px;
    height: 128px;
    margin-top: 48px;
  }

  .categories__list {
    height: 128px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .categories a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .categories a img {
    width: 40px;
    height: 40px;
  }

  .categories__list span{
    background-color: aliceblue;
    width: 2px;
    height: 100%;
  }
}
