/* Navegación categorias de productos */
.nav-products{
    width: 385px;
    height: 285px;
    background-color: #333333;
    margin: 24px 16px 0;
    border-radius: 16px;
}

.nav-products__list{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 4px;
}

.nav-products a{
    display: flex;
    align-content: center;
    font-size: 16px;
    color: #FFFFFF;
    gap: 8px;
}

@media (min-width: 811px){
    .nav-products{
        width: 80%;
        max-width: 1024px;
        height: 128px;
    }

    .nav-products__list{
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-products a{
        flex-direction: column;
        align-items: center;
        height: 100%;
        align-items: center;
    }

    .nav-products a img{
        width: 40px;
        height: 40px;
    }
}
