.header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header__logo__1 {
  padding-right: 8px;
}

.header__logo__2 {
  display: none;
}

.header__search-container{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.header__search-container button{
  position: absolute;
  right: 8px;
  background: none;
  border: none;
}

.header__search {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  height: 32px;
  width: 100%;
  padding: 0 0 0 20px;
}

.noLoged{
  height: 100%;
  align-items: center;
}

.noLoged a{
  padding: 8px;
}


.noLoged span{
  width: 2px;
  height: 25px;
  background-color: var(--dark-gray);
}

.loged{
  align-items: center;
  gap: 8px;
}

@media (min-width: 800px) {
  .header__logo__1 {
    display: none;
  }

  .header__logo__2 {
    display: flex;
    margin-right: 8px;
  }

  .header__search {
    margin: 0px 58px 0px 40px;
  }
}

/* ======== */

.menu {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  padding: 16px 0;
  transition: all 0.5s;
  display: none;
  border-radius: 16px 0px 0px 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  z-index: 99;
  animation: aparecer 0.5s linear;
}

@keyframes aparecer {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0);
  }
}

.hide {
  display: block;
}

.menu ul li a {
  display: block;
  padding: 10px 0px 10px 40px;
  font-size: 16px;
}

.menu ul li a:hover,
.menu__theme:hover {
  background-color: rgb(221, 221, 221);
}

.menu__profile {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 16px;
}

.menu__theme {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 16px;
}

.menu__profile img {
  margin-right: 10px;
}

.menu__theme__icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@media (min-width: 800px) {
  .header__search-container button{
    right: 64px;
  }

  .menu {
    top: 75px;
    right: 10px;
    height: auto;
    border-radius: 16px;
    position: absolute;
  }
}
