
.site-headersearch {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;
}
.headersearch{
    height: 64px;
    display: flex;
    justify-content: space-around;
}
.img-MiEcommerce{
    display: none;
}
.site-headerseach-search{
    
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    height: 32px;
    width: 80%;
    
}
.img-right{
    margin:0px 8px;
    width: 32px;
    height: 32px;
}
.img-profilePic{
    width: 32px;
    height: 32px;
}
.img-profileBtn{
    display: none;
}

 /* .contorno-foto{
    max-width: 40px;
    max-height: 40px;
    background-color:rgba(73, 79, 81, 1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}  */

 @media (min-width: 800px){
    .img-MiEcommerce{
        display:flex;
}
 .img-MiE{
    display: none ;
}
 .img-profileBtn{
    display:flex;
    width: 78px;
    height: 32px;
 }
 .img-profilePic{
    display:none
 }
} 