.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1075px;
  margin: auto;
  padding: 16px;
}

.product__action-return {
  display: flex;
  margin: 16px 0px 8px 0px;
  width: 100%;
}

.product__action-return a,
.product__action-return p {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.main-product__product {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  width: 100%;
  max-width: 1024px;
}

.main-product__product-title{
  padding-bottom: 16px;
}

.main-product__product-title,
.main-product__product-title-alternative {
  align-self: flex-start;
}

.main-product__product-title-alternative {
  display: none;
}

.main-product__image-container{
  /* width: 90%; */
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-product__image-container img{
  object-fit:cover;
  max-height: 100%;
}

.main-product__image {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.main-product__image img {
  width: 100%;
  border-radius: 8px;
}

.main-product__miniaturas {
  gap: 5px;
  width: 100%;
}

.main-product__miniaturas img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-top: 8px;
}

.main-product_info {
  width: 100%;

}

.main-product__price {
  display: flex;
  align-self: flex-start;
  /* align-items: flex-end; */
}

.main-product__price p{
  padding-top: 26px;
}

.main-product__price h3 {
  font-size: 40px;
  text-align: end;
  margin-right: 10px;
}

.main-product__desc {
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 20px;
  margin-top: 24px;
}

.main-product__btn {
  background-color: #494f51;
  width: 100%;
  border: none;
  height: 32px;
  color: white;
  padding: 10px;
  border-radius: 16px;
  margin-top: 16px;
}

.main-product__related-product h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 35px 0 25px 0;
}

@media (min-width: 785px) {
  .main-product__related-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-product__product {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 8px;
  }

  .main-product__image-container{
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-product__image-container img{
    object-fit:cover;
    max-height: 100%;
  }

  .main-product__image {
    flex-direction: row;
    justify-content: left;
    width: 70%;
    flex-wrap: wrap;
  }

  .main-product__image img {
    width: 90%;
    /* align-self: flex-start; */
  }

  .main-product__miniaturas {
    order: -1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    /* width: 8%; */
    height: 48px;
    width: 48px;
  }

  .main-product__miniaturas img {
    margin-top: 0;
  }

  .main-product__product-title {
    display: none;
  }

  .main-product_info {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid 1px #cccccc;
    border-radius: 8px;
    padding: 8px;
  }

  .main-product__product-title-alternative {
    display: block;
  }

  .main-product__desc {
    order: 1;
  }

  .main-product__btn {
    margin: 12px 0;
  }
}

.main-product__related-product h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  margin: 35px 0 25px 0;
}

.related-product-padding {
  width: 95%;
}

@media (min-width: 1038px) {
  .main-product__related-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}