.modal__entero {
  position: absolute;
  top: calc(100vh/3);
  right: calc((100vw /2) - 175px );
  width: 350px;
  background-color: var(--white);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 16px;
  z-index: 99;
}

.modal__titulo{
  text-align: center;
}

.modal__mensaje p{
  color: var(--red);
  font-size: 14px;
}

.modal__botones {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin: 15px 0 0;
}

.modal__botones button:first-child {
  background-color: var(--green);
}
.modal__botones{
  margin-top: 16px;
}

.animated{
  animation: showInn .3s linear;
}

@keyframes showInn{
  0%{
    transform: translateY(-400px);
  }
  100%{
    transform: translateY(0);
  }
}