.btn-generic {
  background-color: var(--dark-gray);
  color: var(--white);
  border: none;
  font-size: 12px;
  height: 32px;
  border-radius: 16px;
  font-weight: 400;
  padding: 10px 20px;
}

.inputs-generic {
  height: 32px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.502);
  font-size: 12px;
  padding-left: 16px;
}
