.user-button{
    position: relative;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.user-button__profilePic{
    position: absolute;
    left: 5px;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
}

.user-button__profilePic img{
    width: 24px;
    height: 24px;
}

.user-button__name{
    padding: 4px;
    margin-left: 24px;
}