<%- include('../partials/head', {variable : "Cart | MiEcommerce"}) %>
<%-include('../partials/header', {variable_search: false}) %>
<main class="main-404">
    <a href="/"><%-include('../partials/button',{text: 'Ir al inicio'}) %></a>
</main>
    
  <!-- Importamos menú categorías-->
  

  <!-- FOOTER -->
    <%- include('../partials/footer') %>