<%- include('../partials/head', {variable : "Cart | MiEcommerce" }) %>
  <%-include('../partials/header', {variable_search: true}) %>
    <main class="cart">
      <a href="/" class="cart__return">
        <img src="images/arrow-left.svg" alt="Boton de regreso" class="arrow-left"/>
        Volver</a>
      <h1 class="cart__title">Productos en tu Carrito</h1>
      <div id="cart-content">
      
      
      </div>
      
      
        <div class="empty-cart" id="empty-cart">
          
        </div>
      
      <script src="/js/cart.js"></script>
    </main>
    
    <%- include('../partials/footer') %>