<%- include('../partials/head', {variable : "Cart | MiEcommerce"}) %>

<%-include('../partials/header', {variable_search: false}) %>

<main class="main-checkout">
    <h1>Not Implemented</h1>


    <a href="/"><%-include('../partials/button',{text: 'Ir al inicio'}) %></a>
</main>
    

    <%- include('../partials/footer') %>