.cart {
  padding: 16px;
  /* min-height: calc(100vh - 155px); */
}

.cart__title {
  font-size: 24px;
  margin-top: 8px;
}

.cart__return {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: 70px;
}

.cart__product-card {
  display: flex;
  flex-direction: column;
  padding: 8px;

  background: var(--white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-top: 16px;
}

.cart__product-card__content {
  display: flex;
  align-items: center;
}

.cart__product-card__img {
  width: 64px;
  height: 64px;
  border-radius: 9px;
}

.cart__product-card__title {
  margin-left: 8px;
}

.cart__product-card__actions {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  align-items: center;
}

.cart__product-card__price {
  font-size: 24px;
  font-weight: bold;
  width: 80px;
}

.cart__product-card__action-amount {
  display: flex;
  border: 1px solid var(--dark-gray);
  border-radius: 16px;
  margin: 0px 37px 0px 26px;
  align-items: center;
}

.cart__product-card__action-amount button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 8px;
}

.cart__product-card__action-amount button:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.cart__product-card__action-amount p {
  margin: 0px 7px 0px 7px;
}

.cart__total {
  margin-top: 27px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.cart__total__price {
  margin-left: 26px;
  font-size: 24px;
  font-weight: bold;
}

.cart__total__text {
  font-size: 16px;
}

.cart__pay {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 24px;
}
.cart-error {
  padding-top: 20px;
  font-size: 20px;
}

.empty-cart {
  margin: auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cart-error__products {
  margin: 0 auto;
}

.cart__product-card__actions__btn-container{
  width: 80px;
}

@media screen and (min-width: 1024px) {
  .cart {
    /* min-height: calc(100vh - 107px); */
    padding: 16px 128px 16px 128px;
  }

  .cart__product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
