.main-checkout{
    background-image: url('../../images/underconstruction.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    text-align: center;
}

.main-checkout h1{
    margin: auto;
    /* text-align: center; */
    padding-top: 50px;
}

.main-checkout button{
    /* text-align: center; */
    margin-top: 250px;
}

.noImplemented__btn-container{
    max-width: 150px;
}