
.body-home{
    background-color: #EFEFEF;
}

.main-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Linea Verde parte superior de la página */
.bg-green{
    background-color: #0CB093;
    height: 270px;
    min-width: 100%;
    position: absolute;
    top: 464px;
    left: 0;
    z-index: -1;
}

@media (min-width: 811px){
    .bg-green{
        height: 256px;
        top: 336px;
    }

}

.container-home{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
/* Sección productos de interes */

.seccion-interes{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.container-product_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 382px;
}



.section-title{
    font-size: 24px;
    font-weight: 400;
}


@media (min-width: 811px){
    .section-title{
        margin-top: 72px;
    }

    .container-product_section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        max-width: 1075px;
    }
}

