
/* Linea Verde parte superior de la página */
.home__bg-green {
  background-color: var(--green);
  height: 270px;
  width: 100%;
  min-width: 360px;
  position: absolute;
  top: 464px;
  left: 0;
  z-index: -1;
}


@media (min-width: 811px) {
  .home__bg-green {
    height: 256px;
    top: 336px;
  }
}
