/* *,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Linea Verde parte superior de la página */
.bg-green{
    background-color: #0CB093;
    height: 270px;
    width: 100%;
    position: absolute;
    top: 464px;
    z-index: -1;
}

@media (min-width: 811px){
    .bg-green{
        height: 256px;
        top: 336px;
    }

}






/* Sección Card Hero */

.section-hero{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    gap: 16px;
}

.product-hero{
    width: 385px;
    height: 195px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: #EFEFEF;
    font-weight: 700;
    font-size: 18px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    position: relative;
}

.gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.08) 40%, rgba(0,0,0,0.59) 80%);
    z-index: 1;
}

.product-hero:nth-child(1){
    background-image: url('../../images/disneybg.jpg');
}

.product-hero:nth-child(1) p{
    display: none;
}

.product-hero:nth-child(2){
    background-image: url('../../images/Rectangle-1.png');
}

.product-hero:nth-child(3){
    background-image: url('../../images/hbobg.jpg');
    display: none;
}

.product-hero__img{
    padding: 8px;
    
}

.product-hero__legend{
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    margin-right: 8px;
    z-index: 11;
}

.product-hero__legend p{
    font-weight: 400;
}

.product-hero img{
    height: 112px;
    width: 112px;
    border-radius: 8px;
}




@media (min-width: 811px){
    .section-hero{
        display: flex;
        flex-direction: row;
    }

    .product-hero{
        width: 400px;
        height: 256px;
    }

    .product-hero:nth-child(1) p{
        display: block;
    }

    .product-hero:nth-child(2){
        display: none;
    }

    .product-hero:nth-child(3){
        display: flex;
    }

    .product-hero__legend{
        width: 250px;
    }
}

@media (min-width: 1024px){
    .product-hero{
        width: 504px;
    }
}



/* Sección productos de interes */

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024;
}


.section-title{
    font-size: 24px;
    font-weight: 400;
}


@media (min-width: 811px){
    .section-title{
        margin-top: 72px;
    }
}

