

.volver{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
    /* max-width: 350px; */
}

.volver a, .volver p{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

