<div class="cartel__entero">
  <h3 class="cartel__titulo">Titulo del Mensaje</h3>
  <p class="cartel__mensaje">Mensaje y capacidad</p>
  <div class="cartel__botones">
    <%-include('../partials/button',{text: 'Ir al inicio'}) %>
    <%-include('../partials/button',{text: 'Ir al inicio'}) %>
  </div>
</div>
