
<!-- Navegación Categorias de Productos -->
<nav class="categories">
  <ul class="categories__list">
    
    <% for(let i=0; i < categories.length; i++ ){ %>
      <li>
        <a href="<%= categories[i].url %>">
          <img
            src="<%= categories[i].img %>"
            alt="Icono del menu <%= categories[i].name %>"
          />
          <%= categories[i].name %>
        </a>
      </li>
      <span></span>
    <% } %>

  </ul>
</nav>
