</div>
      <footer class="footer">
          <p class="footer__copyright">© MiEcommerce. Todos los derechos reservados.</p>
          <img
            src="/images/Redes-Sociales.svg"
            alt="Redes Sociales"
            class="footer__redes"
          />
          <img
            src="/images/descargable.svg"
            alt="sitios de descarga"
            class="footer__apps"
          />
      </footer>
    </div>
  </body>

</html>