<div class="menu">
    <div class="menu__profile">
        <img src="/images/profilepiccontorno.svg" alt="Perfil de usuario" />
        <p>User</p>
    </div>
    <hr>
    <ul>
        <li>
            <a class="menu__home">
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a class="menu__cart">
                <span>Mis compras</span>
            </a>
        </li>
        <li>
            <a class="menu__favorites">
                <span>Favoritos</span>
            </a>
        </li>
        <li>
            <a class="menu__history">
                <span>Historial</span>
            </a>
        </li>
        <hr>
        <li>
            <p class="menu__theme">
                <img src="" alt="" class="menu__theme__icon">
                <span id="darkMode"> Cambiar a tema oscuro</span>
            </p>
        </li>
        <hr>
        <li>
            <a class="menu__closeSession">
                <span>Cerrar sesion</span>
            </a>
        </li>
    </ul>
</div>