<div class="modal__entero">
  <h3 class="modal__titulo">Titulo del Mensaje</h3>
  <div class="modal__mensaje"></div>
  <div class="modal__botones">
    <%-include('../partials/button',{text: 'Ir al inicio'}) %>
    <%-include('../partials/button',{text: 'Vuelve a intentarlo'}) %>
  </div>
</div>
