<div class="modal__entero" id="modal__entero">
    <h3 class="modal__titulo" id="modal__titulo">Titulo del Mensaje</h3>
    <div class="modal__mensaje" id="modal__mensaje"></div>
    <div class="modal__botones" id="modal__botones">
      <%-include('../partials/button',{text: 'Seguir navegando'}) %>
      <%-include('../partials/button',{text: 'Ir a registrarme'}) %>
    </div>
  </div>