
<div class="product-hero">
  <div class="gradient"></div>
  <div class="product-hero__img">
    <img src="<%= hero.img %>" alt="<%= hero.alt %>" />
  </div>
  <div class="product-hero__legend">
    <h3><%= hero.title %></h3>
    <p><%= hero.text %></p>
  </div>
</div>

