
<section>
    <h2 class="home__section-products__title">Los más pedidos</h2>
    <div class="main-product__related-product">
        <% for(let i=0; i < 8; i++) { %>
        <a href="/products/<%= productsSortedByCount[i].id %>">
            <%- include('../partials/product-card', {product: productsSortedByCount[i]}) %>
        </a>
        <% } %>
    </div>
</section>

