<button class="user-button button menuShow">
    <div class="user-button__profilePic menuShow">
        <img class="menuShow" src="/images/profile_pic.svg" alt="Imagen de perfil del usuario">
    </div>
    <div class="user-button__name menuShow">
        <p class="menuShow"></p>
    </div>
</button>