<button class="user-button button">
    <div class="user-button__profilePic">
        <img src="/images/profile_pic.svg" alt="Imagen de perfil del usuario">
    </div>
    <div class="user-button__name">
        <p>Juan Gomez</p>
    </div>
</button>