<%- include('../partials/head', {variable : "Register | MiEcommerce"}) %>
    <%- include('../partials/header') %>
    <main class="register-main">
      <div class="color-fondo"></div>
      <div class="contenedor-registro">
        <div class="contenedor-registro__inputs">
          <h2 class="contenedor-registro__titulo">¡Registrate!</h2>
          <form class="form-register" action="" method="POST">
            <input type="text" placeholder="Tu email" />
            <input type="text" placeholder="Tu nueva contraseña" />
            <input type="text" placeholder="Repite tu contraseña" />
            <button class="btn-CrearCuenta" value="Crear Cuenta">
              Crear Cuenta
            </button>
          </form>
        </div>
        <p class="texto-iniciaSesion" for="">
          ¿Ya tienes cuenta? <a href="login">Inicia Sesión</a>
        </p>
      </div>
    </main>
    <%- include('../partials/footer') %>

